In [25]:
import numpy as np
import pandas as pd
import webbrowser
web='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(web)

True

In [26]:
data=pd.read_clipboard()

In [27]:
data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West

In [31]:
data.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [32]:
data.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West

In [33]:
type(data)

pandas.core.frame.DataFrame

In [34]:
data.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [35]:
data.index

RangeIndex(start=0, stop=16, step=1)

In [41]:
pd.DataFrame(data,columns=['Rank','Team','GP']).head()

   Rank                  Team    GP
0     1        Dallas Cowboys   914
1     2     Green Bay Packers  1368
2     3  New England Patriots   916
3     4         Chicago Bears  1402
4     5      Baltimore Ravens   384

In [42]:
data.Team.head()

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [43]:
data['Lost'].tail()

11    552
12    468
13    432
14    336
15    569
Name: Lost, dtype: int64

In [44]:
data.iloc[1]

Rank                                2
Team                Green Bay Packers
GP                               1368
Won                               756
Lost                              574
Tied                               38
Pct.                            0.567
First NFL Season                 1921
Division                    NFC North
Name: 1, dtype: object

In [45]:
data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West

In [47]:
data['stedium']=np.nan

In [48]:
data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,stedium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,NaN
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,NaN
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,NaN
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West,NaN
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,NaN
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,NaN
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,NaN
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North,NaN
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,NaN
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,NaN
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,NaN
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West,NaN

In [51]:
stm=pd.Series(['AT','Bs'],index=[0,4])
data['stedium']=stm
data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,stedium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,AT
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Bs
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,NaN
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West,NaN
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,NaN
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,NaN
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,NaN
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North,NaN
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,NaN
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,NaN
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,NaN
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West,NaN

In [52]:
#deleting a stedium column
del data['stedium']

In [53]:
data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
15,16,Los Angeles Rams,"1,167",577,569,21,0.503,1937,NFC West

In [55]:
df={'name':['bibek','carlos','binaya','bikash'],'country':['germany','usa','aus','nepal']}
df1=pd.DataFrame(df)
df1

     name  country
0   bibek  germany
1  carlos      usa
2  binaya      aus
3  bikash    nepal

In [57]:
#reindex
import numpy as np
ser1=pd.Series([1,2,3],index=['a','b','c'])
ser1

a    1
b    2
c    3
dtype: int64

In [61]:
ser2=ser1.reindex(['a','bbb','c','d'])
ser2

a      1.0
bbb    NaN
c      3.0
d      NaN
dtype: float64

In [ ]:
ser2.reindex(['a','bbb','c','d'],f)