In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
data=pd.read_csv('sell.csv')
data

,account number,name,sku,category,quantity,unit price,ext price,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,2014-09-27 07:13:03
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,2014-07-29 02:10:44
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,2014-03-01 10:51:24
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,2013-11-17 20:41:11
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,2014-01-03 08:14:27
...,...,...,...,...,...,...,...,...
995,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,11,60.50,665.50,2014-08-03 10:39:51
996,850140,Kunze Inc,GS-86623,Shoes,16,19.66,314.56,2014-05-03 21:18:15
997,93356,Waters-Walker,GS-86623,Shoes,13,90.95,1182.35,2014-06-14 12:43:51
998,304860,Huel-Haag,LL-46261,Shoes,9,98.22,883.98,2014-07-26 01:10:57
999,98022,Heidenreich-Bosco,LW-86841,Shoes,14,74.83,1047.62,2014-06-27 05:58:33

In [24]:
data.index

RangeIndex(start=0, stop=1000, step=1)

In [25]:
data.columns

Index(['account number', 'name', 'sku', 'category', 'quantity', 'unit price',
       'ext price', 'date'],
      dtype='object')

In [26]:
data.head(10)

,account number,name,sku,category,quantity,unit price,ext price,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,2014-09-27 07:13:03
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,2014-07-29 02:10:44
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,2014-03-01 10:51:24
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,2013-11-17 20:41:11
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,2014-01-03 08:14:27
5,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,17,52.82,897.94,2013-12-04 02:07:05
6,995267,Cole-Eichmann,GS-86623,Shoes,18,15.28,275.04,2014-04-09 16:15:03
7,524021,Hegmann and Sons,LL-46261,Shoes,7,78.78,551.46,2014-06-18 19:25:10
8,929400,"Senger, Upton and Breitenberg",LW-86841,Shoes,17,38.19,649.23,2014-02-10 05:55:56
9,563905,"Kerluke, Reilly and Bechtelar",KV-99194,Shirt,12,26.98,323.76,2014-05-20 00:21:28

In [27]:
#on the basis of 'unit price' provide the mean of that 'unit price'.
pivot1=pd.pivot_table(data,index=['account number','name','category'],values=['quantity'])
#pivot1=pd.pivot_table(data,index=['account number','name','category'])
pivot1.head(15)

                                            quantity
account number name              category
93356          Waters-Walker     Belt      13.833333
                                 Shirt     12.000000
                                 Shoes     10.350000
98022          Heidenreich-Bosco Belt      10.600000
                                 Shirt      9.200000
                                 Shoes     11.650000
115138         Gorczany-Hahn     Belt       8.583333
                                 Shirt     11.285714
                                 Shoes     11.111111
201259         Koelpin PLC       Belt       9.500000
                                 Shirt      8.800000
                                 Shoes      9.666667
296809         Carroll PLC       Belt      13.142857
                                 Shirt     11.681818
                                 Shoes     11.238095

In [30]:
#we can give multiple value as well.
pivot1=pd.pivot_table(data,index=['name','category'],values=['quantity','unit price'])
pivot1.head(15)

                                        quantity  unit price
name                         category
Berge LLC                    Belt      13.333333   50.106667
                             Shirt      8.300000   61.327000
                             Shoes     10.260870   60.844348
Carroll PLC                  Belt      13.142857   52.359286
                             Shirt     11.681818   49.951364
                             Shoes     11.238095   53.109048
Cole-Eichmann                Belt      11.307692   49.282308
                             Shirt     11.238095   58.416667
                             Shoes      9.117647   56.798824
Davis, Kshlerin and Reilly   Belt       5.500000   51.561667
                             Shirt     10.062500   51.781875
                             Shoes      9.736842   52.646316
Ernser, Cruickshank and Lind Belt      10.777778   62.755556
                             Shirt     10.916667   62.510417
                             Shoes      6.857143   56.418571

In [31]:
#checking a mean of carroll plc
data[data['name'].str.contains('Carroll') & (data['category']=='Belt')]['quantity'].mean()

13.142857142857142

In [32]:
pivot1.loc[['Koelpin PLC','category']]

                      quantity  unit price
name        category
Koelpin PLC Belt      9.500000   39.416429
            Shirt     8.800000   52.404667
            Shoes     9.666667   56.240000

In [35]:
pd.pivot_table(data,index=['name','category'],values=['quantity'],aggfunc=[np.mean,len]).head(15)
#len is used for calculate the total quantity of something by that people.

                                            mean      len
                                        quantity quantity
name                         category
Berge LLC                    Belt      13.333333        9
                             Shirt      8.300000       20
                             Shoes     10.260870       23
Carroll PLC                  Belt      13.142857       14
                             Shirt     11.681818       22
                             Shoes     11.238095       21
Cole-Eichmann                Belt      11.307692       13
                             Shirt     11.238095       21
                             Shoes      9.117647       17
Davis, Kshlerin and Reilly   Belt       5.500000        6
                             Shirt     10.062500       16
                             Shoes      9.736842       19
Ernser, Cruickshank and Lind Belt      10.777778        9
                             Shirt     10.916667       24
                             Shoes      6.857143       14

In [37]:
#lets verify that data.
data[data['name'].str.contains(r'Berge')]['category'].value_counts()

Shoes    23
Shirt    20
Belt      9
Name: category, dtype: int64

In [42]:
pd.pivot_table(data,index=['name',],columns=['category'],values=['ext price'],aggfunc=[np.mean,np.sum,len])

                                     mean                               sum  \
                                ext price                         ext price
category                             Belt       Shirt       Shoes      Belt
name
Berge LLC                      670.392222  483.512000  624.395652   6033.53
Carroll PLC                    668.518571  623.527727  612.259048   9359.26
Cole-Eichmann                  624.053846  691.810000  458.512353   8112.70
Davis, Kshlerin and Reilly     267.355000  470.814375  521.978947   1604.13
Ernser, Cruickshank and Lind   654.931111  706.007917  375.032143   5894.38
Gorczany-Hahn                  303.540000  598.896667  665.398889   3642.48
Hamill-Hackett                 402.435000  522.355294  562.782609   1609.74
Hegmann and Sons               490.938000  645.171923  614.994091   4909.38
Heidenreich-Bosco              626.294000  596.525000  660.005000   6262.94
Huel-Haag                      246.612222  628.632105  461.624000   2219.51
Kerluke, Reilly and Bechtelar  512.763750  617.058571  449.090870   4102.11
Kihn, McClure and Denesik      843.075000  702.087037  519.054737  10116.90
Kilback-Gerlach                477.233333  582.638235  646.315909   2863.40
Koelpin PLC                    380.568571  527.218667  565.642500   5327.96
Kunze Inc                      710.765000  625.554800  630.568696   4264.59
Kuphal, Zieme and Kub          502.422500  550.051818  496.962692   2009.69
Senger, Upton and Breitenberg  500.520000  450.570588  539.473043   9509.88
Volkman, Goyette and Lemke     553.626250  639.563500  739.329500   4429.01
Waelchi-Fahey                  487.395294  584.452500  529.053529   8285.72
Waters-Walker                  992.873333  776.404583  609.400500   5957.24

                                                        len
                                                  ext price
category                          Shirt     Shoes      Belt Shirt Shoes
name
Berge LLC                       9670.24  14361.10       9.0  20.0  23.0
Carroll PLC                    13717.61  12857.44      14.0  22.0  21.0
Cole-Eichmann                  14528.01   7794.71      13.0  21.0  17.0
Davis, Kshlerin and Reilly      7533.03   9917.60       6.0  16.0  19.0
Ernser, Cruickshank and Lind   16944.19   5250.45       9.0  24.0  14.0
Gorczany-Hahn                  12576.83   5988.59      12.0  21.0   9.0
Hamill-Hackett                  8880.04  12944.00       4.0  17.0  23.0
Hegmann and Sons               16774.47  13529.87      10.0  26.0  22.0
Heidenreich-Bosco               5965.25  13200.10      10.0  10.0  20.0
Huel-Haag                      11944.01   6924.36       9.0  19.0  15.0
Kerluke, Reilly and Bechtelar  12958.23  10329.09       8.0  21.0  23.0
Kihn, McClure and Denesik      18956.35   9862.04      12.0  27.0  19.0
Kilback-Gerlach                 9904.85  14218.95       6.0  17.0  22.0
Koelpin PLC                     7908.28  13575.42      14.0  15.0  24.0
Kunze Inc                      15638.87  14503.08       6.0  25.0  23.0
Kuphal, Zieme and Kub          12101.14  12921.03       4.0  22.0  26.0
Senger, Upton and Breitenberg   7659.70  12407.88      19.0  17.0  23.0
Volkman, Goyette and Lemke     12791.27  14786.59       8.0  20.0  20.0
Waelchi-Fahey                  11689.05   8993.91      17.0  20.0  17.0
Waters-Walker                  18633.71  12188.01       6.0  24.0  20.0

In [44]:
pd.pivot_table(data,index=['name'],values=['ext price'],aggfunc=[np.mean,np.sum,len]).max()

mean  ext price      735.5792
sum   ext price    38935.2900
len   ext price       59.0000
dtype: float64

In [45]:
pd.pivot_table(data,index=['name'],values=['ext price'],columns=['category'],aggfunc=[np.mean,np.sum,len])

                                     mean                               sum  \
                                ext price                         ext price
category                             Belt       Shirt       Shoes      Belt
name
Berge LLC                      670.392222  483.512000  624.395652   6033.53
Carroll PLC                    668.518571  623.527727  612.259048   9359.26
Cole-Eichmann                  624.053846  691.810000  458.512353   8112.70
Davis, Kshlerin and Reilly     267.355000  470.814375  521.978947   1604.13
Ernser, Cruickshank and Lind   654.931111  706.007917  375.032143   5894.38
Gorczany-Hahn                  303.540000  598.896667  665.398889   3642.48
Hamill-Hackett                 402.435000  522.355294  562.782609   1609.74
Hegmann and Sons               490.938000  645.171923  614.994091   4909.38
Heidenreich-Bosco              626.294000  596.525000  660.005000   6262.94
Huel-Haag                      246.612222  628.632105  461.624000   2219.51
Kerluke, Reilly and Bechtelar  512.763750  617.058571  449.090870   4102.11
Kihn, McClure and Denesik      843.075000  702.087037  519.054737  10116.90
Kilback-Gerlach                477.233333  582.638235  646.315909   2863.40
Koelpin PLC                    380.568571  527.218667  565.642500   5327.96
Kunze Inc                      710.765000  625.554800  630.568696   4264.59
Kuphal, Zieme and Kub          502.422500  550.051818  496.962692   2009.69
Senger, Upton and Breitenberg  500.520000  450.570588  539.473043   9509.88
Volkman, Goyette and Lemke     553.626250  639.563500  739.329500   4429.01
Waelchi-Fahey                  487.395294  584.452500  529.053529   8285.72
Waters-Walker                  992.873333  776.404583  609.400500   5957.24

                                                        len
                                                  ext price
category                          Shirt     Shoes      Belt Shirt Shoes
name
Berge LLC                       9670.24  14361.10       9.0  20.0  23.0
Carroll PLC                    13717.61  12857.44      14.0  22.0  21.0
Cole-Eichmann                  14528.01   7794.71      13.0  21.0  17.0
Davis, Kshlerin and Reilly      7533.03   9917.60       6.0  16.0  19.0
Ernser, Cruickshank and Lind   16944.19   5250.45       9.0  24.0  14.0
Gorczany-Hahn                  12576.83   5988.59      12.0  21.0   9.0
Hamill-Hackett                  8880.04  12944.00       4.0  17.0  23.0
Hegmann and Sons               16774.47  13529.87      10.0  26.0  22.0
Heidenreich-Bosco               5965.25  13200.10      10.0  10.0  20.0
Huel-Haag                      11944.01   6924.36       9.0  19.0  15.0
Kerluke, Reilly and Bechtelar  12958.23  10329.09       8.0  21.0  23.0
Kihn, McClure and Denesik      18956.35   9862.04      12.0  27.0  19.0
Kilback-Gerlach                 9904.85  14218.95       6.0  17.0  22.0
Koelpin PLC                     7908.28  13575.42      14.0  15.0  24.0
Kunze Inc                      15638.87  14503.08       6.0  25.0  23.0
Kuphal, Zieme and Kub          12101.14  12921.03       4.0  22.0  26.0
Senger, Upton and Breitenberg   7659.70  12407.88      19.0  17.0  23.0
Volkman, Goyette and Lemke     12791.27  14786.59       8.0  20.0  20.0
Waelchi-Fahey                  11689.05   8993.91      17.0  20.0  17.0
Waters-Walker                  18633.71  12188.01       6.0  24.0  20.0

In [50]:
pd.pivot_table(data,index=['name'],values=['ext price'],columns=['category'],
            aggfunc=[np.mean,np.sum,len],fill_value=0,margins=True,margins_name='Total')
#total= sum of all the mean values.

                                     mean                                      \
                                ext price
category                             Belt       Shirt       Shoes       Total
name
Berge LLC                      670.392222  483.512000  624.395652  578.170577
Carroll PLC                    668.518571  623.527727  612.259048  630.426491
Cole-Eichmann                  624.053846  691.810000  458.512353  596.772941
Davis, Kshlerin and Reilly     267.355000  470.814375  521.978947  464.750244
Ernser, Cruickshank and Lind   654.931111  706.007917  375.032143  597.638723
Gorczany-Hahn                  303.540000  598.896667  665.398889  528.759524
Hamill-Hackett                 402.435000  522.355294  562.782609  532.585909
Hegmann and Sons               490.938000  645.171923  614.994091  607.133103
Heidenreich-Bosco              626.294000  596.525000  660.005000  635.707250
Huel-Haag                      246.612222  628.632105  461.624000  490.415814
Kerluke, Reilly and Bechtelar  512.763750  617.058571  449.090870  526.719808
Kihn, McClure and Denesik      843.075000  702.087037  519.054737  671.298103
Kilback-Gerlach                477.233333  582.638235  646.315909  599.715556
Koelpin PLC                    380.568571  527.218667  565.642500  505.880377
Kunze Inc                      710.765000  625.554800  630.568696  637.158148
Kuphal, Zieme and Kub          502.422500  550.051818  496.962692  519.843462
Senger, Upton and Breitenberg  500.520000  450.570588  539.473043  501.312881
Volkman, Goyette and Lemke     553.626250  639.563500  739.329500  666.809792
Waelchi-Fahey                  487.395294  584.452500  529.053529  536.457037
Waters-Walker                  992.873333  776.404583  609.400500  735.579200
Total                          543.441582  610.829530  566.385550  579.843900

                                     sum                                   \
                               ext price
category                            Belt      Shirt      Shoes      Total
name
Berge LLC                        6033.53    9670.24   14361.10   30064.87
Carroll PLC                      9359.26   13717.61   12857.44   35934.31
Cole-Eichmann                    8112.70   14528.01    7794.71   30435.42
Davis, Kshlerin and Reilly       1604.13    7533.03    9917.60   19054.76
Ernser, Cruickshank and Lind     5894.38   16944.19    5250.45   28089.02
Gorczany-Hahn                    3642.48   12576.83    5988.59   22207.90
Hamill-Hackett                   1609.74    8880.04   12944.00   23433.78
Hegmann and Sons                 4909.38   16774.47   13529.87   35213.72
Heidenreich-Bosco                6262.94    5965.25   13200.10   25428.29
Huel-Haag                        2219.51   11944.01    6924.36   21087.88
Kerluke, Reilly and Bechtelar    4102.11   12958.23   10329.09   27389.43
Kihn, McClure and Denesik       10116.90   18956.35    9862.04   38935.29
Kilback-Gerlach                  2863.40    9904.85   14218.95   26987.20
Koelpin PLC                      5327.96    7908.28   13575.42   26811.66
Kunze Inc                        4264.59   15638.87   14503.08   34406.54
Kuphal, Zieme and Kub            2009.69   12101.14   12921.03   27031.86
Senger, Upton and Breitenberg    9509.88    7659.70   12407.88   29577.46
Volkman, Goyette and Lemke       4429.01   12791.27   14786.59   32006.87
Waelchi-Fahey                    8285.72   11689.05    8993.91   28968.68
Waters-Walker                    5957.24   18633.71   12188.01   36778.96
Total                          106514.55  246775.13  226554.22  579843.90

                                    len
                              ext price
category                           Belt Shirt Shoes   Total
name
Berge LLC                             9    20    23    52.0
Carroll PLC                          14    22    21    57.0
Cole-Eichmann                        13    21    17    51.0
Davis, Kshlerin and Reilly            6    16    19    41.0
Ernser, Cruickshank and Lind          9    24    14    47.0
Gorczany-Hahn                        12    21     9    42.0
Hamill-Hackett                        4    17    23    44.0
Hegmann and Sons                     10    26    22    58.0
Heidenreich-Bosco                    10    10    20    40.0
Huel-Haag                             9    19    15    43.0
Kerluke, Reilly and Bechtelar         8    21    23    52.0
Kihn, McClure and Denesik            12    27    19    58.0
Kilback-Gerlach                       6    17    22    45.0
Koelpin PLC                          14    15    24    53.0
Kunze Inc                             6    25    23    54.0
Kuphal, Zieme and Kub                 4    22    26    52.0
Senger, Upton and Breitenberg        19    17    23    59.0
Volkman, Goyette and Lemke            8    20    20    48.0
Waelchi-Fahey                        17    20    17    54.0
Waters-Walker                         6    24    20    50.0
Total                               196   404   400  1000.0

In [59]:
pd.pivot_table(data,index=['name'],columns=['category'],values=['ext price','quantity'],
               aggfunc={"quentity":len,"ext price":np.sum},margins=True)

SpecificationError: nested renamer is not supported